// Brain Brian
// http://www.brainbrian.com
// Comments

.comment {
  display: block;
}

#comments {
  display: none;
  padding: 0 20px;
}

#respond {
  input[type=text] {
    display: block;
    width: 60%;
  }

  textarea {
    display: block;
    margin: 0 0 1em;
    width: 80%;
  }

  .form-allowed-tags {
    clear: both;
    width: 80%;
  }

  .form-allowed-tags code {
    display: block;
  }
}
