// Brain Brian
// http://www.brainbrian.com
// Recent Projects

.recent-projects {
  margin: 0 0 20px;

  h3 {
    background: $color-dark-grey url('../images/h3-recent-projects.png') no-repeat;
    background-position: 20px 20px;
    border-radius: 5px;
    color: $color-blue;
    height: 15px;
    padding: 20px 20px 35px;
    text-indent: -9999px;
  }

  .project-list li {
    float: left;
    margin: 40px 20px 20px;

    a {
      background: $color-dark-grey;
      border-radius: 5px;
      color: $color-white;
      display: block;
      overflow: hidden;
      text-decoration: none;
      transition: background 300ms ease-in-out;

      h4 {
        color: $color-blue;
        font-size: 2.8em;
        line-height: 1;
        padding: 5px 20px 0;
        transition: color 300ms ease-in-out;
      }

      p {
        font-size: 1.8em;
        padding: 0 20px 10px;
        word-break: break-word;
      }

      &:hover,
      &:focus {
        background: $color-blue;

        h4 {
          color: $color-white;
        }
      }
    }

    img {
      background: $color-white;
      height: auto;
      padding: 0;
      width: 100%;
    }

    .project-details p {
      font-size: 1.8em;
      padding: 20px 20px 0;

      a {
        background: none;
        color: $color-blue;
        display: inline;

        &:hover,
        &:focus {
          background: none;
          text-decoration: underline;
        }
      }
    }
  }
}
