// Brain Brian
// http://www.brainbrian.com
// Widgets

.widget-area {
  @include clearfix;

  @media (min-width: $screen-md) {
    margin-left: -15px;
    width: calc(100% + 30px);
  }
}

.widget {
  @include clearfix;
  display: block;

  @media (min-width: $screen-md) {
    float: left;
    padding: 0 ($gutter-width / 2);
    width: 50%;
  }
}

.widget-area {
  .widget_search {
    overflow: hidden;

    input {
      float: left;
    }
  }

  .widget-title {
    border-radius: 5px;
    color: $color-blue;
    height: 15px;
    padding: 20px 20px 35px;
    text-indent: -9999px;
  }

  ul {
    margin: 20px;

    li {
      font-size: 1.4em;
      margin: 0;
      padding: 0 0 20px 50px;
    }
  }

  .widget_recent_entries {
    .widget-title {
      background: $color-dark-grey url('../images/h3-blog-entries.png') no-repeat;
      background-position: 20px 20px;
    }

    ul li {
      background: url('../images/blog-feed-li.png') no-repeat;

      a {
        color: $color-blue;
        text-decoration: none;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }

  .PI_SimpleTwitterTweets {
    .widget-title {
      background: $color-dark-grey url('../images/h3-tweets.png') no-repeat;
      background-position: 20px 20px;
    }

    ul li {
      background: url('../images/twitter-feed-li.png') no-repeat;

      a {
        color: $color-blue;
        text-decoration: none;

        .timesince {
          font-size: .7em;
        }

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}

.single-post .widget-area {
  display: none;
}
