/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

body {
  background-color: #484848;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 62.5%;
  line-height: 1.429;
  min-width: 320px; }

* {
  box-sizing: border-box; }

#page {
  display: block;
  margin: 0; }

#primary {
  margin: 0 -240px 0 0;
  width: 100%; }

#content {
  margin: 0; }

#secondary.widget-area {
  padding-top: 20px; }

#colophon {
  clear: both;
  display: block;
  width: 100%; }

/* Increase the size of the content area for templates without sidebars */
.error404 #content,
.full-width #content,
.image-attachment #content {
  margin: 0; }

/* Text meant only for screen readers */
.screen-reader-text,
.section-heading {
  clip: rect(1px 1px 1px 1px);
  position: absolute !important; }

/* Alignment */
.alignleft {
  display: inline;
  float: left; }

.alignright {
  display: inline;
  float: right; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.post-edit-link {
  background: #23a1ff;
  border-radius: 5px;
  clear: both;
  color: #fff;
  display: block;
  font-size: 2.4em;
  margin: 20px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100px; }

.absolute-header {
  background: #262626 url("../images/bg-header.gif") no-repeat;
  background-size: 100% 100%;
  height: 64px;
  width: 100%; }
  @media (min-width: 768px) {
    .absolute-header {
      height: 92px;
      position: fixed;
      z-index: 99; } }

.site-header {
  display: block;
  height: 64px;
  margin: 0 auto;
  max-width: 960px; }
  .site-header--title {
    background: #23a1ff url("../images/brain-brian-logo.gif") repeat-x;
    background-size: 100%;
    float: left;
    height: 51px;
    margin: 0;
    position: relative;
    width: 124px; }
    .site-header--title a {
      display: block;
      height: 100%;
      position: absolute;
      text-indent: -9999px;
      width: 100%; }
  .site-header--description {
    display: none; }
  @media (min-width: 768px) {
    .site-header {
      height: 92px; }
      .site-header--title {
        height: 74px;
        width: 177px; }
      .site-header--description {
        clear: right;
        color: #23a1ff;
        display: inline-block;
        float: left;
        font-size: 1.2em;
        font-style: italic;
        font-weight: 100;
        margin: 32px 0 23px 30px; } }
  @media (min-width: 992px) {
    .site-header--description {
      font-size: 1.4em;
      margin-top: 30px; } }

.site-footer {
  border-top: #23a1ff solid 2px;
  margin: 20px auto 0;
  max-width: 920px;
  padding: 20px 10px; }
  @media (min-width: 768px) {
    .site-footer {
      padding: 20px 30px; } }

.site-navigation {
  background: #484848;
  display: block;
  float: right; }
  .site-navigation .menu {
    list-style: none;
    margin: 0;
    padding-left: 0; }
  .site-navigation .menu-item {
    float: left;
    position: relative; }
    .site-navigation .menu-item a {
      background-size: 300% 100%;
      display: block;
      height: 64px;
      text-indent: -9999px;
      width: 64px; }
      .site-navigation .menu-item a:hover, .site-navigation .menu-item a:focus {
        background-position: -64px 0; }
    .site-navigation .menu-item.current-menu-item a {
      background-position: -128px 0; }
    @media (min-width: 768px) {
      .site-navigation .menu-item a {
        height: 92px;
        width: 91px; }
        .site-navigation .menu-item a:hover, .site-navigation .menu-item a:focus {
          background-position: -91px 0; }
      .site-navigation .menu-item.current-menu-item a {
        background-position: -182px 0; } }
    .site-navigation .menu-item.projects a {
      background-image: url("../images/navigation-projects.gif"); }
    .site-navigation .menu-item.resume a {
      background-image: url("../images/navigation-resume.gif"); }
    .site-navigation .menu-item.blog a {
      background-image: url("../images/navigation-blog.gif");
      width: 51px; }
      .site-navigation .menu-item.blog a:hover, .site-navigation .menu-item.blog a:focus {
        background-position: -51px 0; }
    .site-navigation .menu-item.blog.current-menu-item a {
      background-position: -102px 0; }
    @media (min-width: 768px) {
      .site-navigation .menu-item.blog a {
        width: 73px; }
        .site-navigation .menu-item.blog a:hover, .site-navigation .menu-item.blog a:focus {
          background-position: -73px 0; }
      .site-navigation .menu-item.blog.current-menu-item a {
        background-position: -146px 0; } }

.entry-meta {
  clear: both;
  display: block; }

#main {
  padding: 0 10px; }
  @media (min-width: 768px) {
    #main {
      margin: 0 auto;
      max-width: 960px;
      padding: 92px 30px 0; } }

#content nav {
  display: block;
  overflow: hidden; }

#content nav .nav-previous {
  float: left;
  width: 50%; }

#content nav .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

#content #nav-above {
  display: none !important; }

.paged #content #nav-above,
.single #content #nav-above {
  display: block; }

#nav-below {
  margin: 1em 0 0;
  display: none !important; }

.page-link {
  margin: 0 0 1em; }

/* 404 page */
.error404 .widget {
  float: left;
  width: 33%; }

.error404 .widget .widgettitle,
.error404 .widget ul {
  margin-right: 1em; }

.error404 .widget_tag_cloud {
  clear: both;
  float: none;
  width: 100%; }

/* Notices */
.error404 #searchform,
.post .notice {
  background: #eee;
  display: block;
  padding: 1em; }

/* Image Attachments */
.image-attachment div.entry-meta {
  float: left; }

.image-attachment nav {
  float: right;
  margin: 0 0 1em; }

.image-attachment .entry-content {
  clear: both; }

.image-attachment .entry-content .entry-attachment {
  background: #eee;
  margin: 0 0 1em;
  padding: 1em;
  text-align: center; }

.image-attachment .entry-content .attachment {
  display: block;
  margin: 0 auto;
  text-align: center; }

/* Aside Posts */
.format-aside .entry-header {
  display: none; }

.single .format-aside .entry-header {
  display: block; }

.format-aside .entry-content,
.format-aside .entry-summary {
  padding-top: 1em; }

.single .format-aside .entry-content,
.single .format-aside .entry-summary {
  padding-top: 0; }

/* Aside Posts */
.format-gallery .gallery-thumb {
  float: left;
  margin-right: 1em; }

img {
  height: auto;
  max-width: 100%; }

a img {
  border: none; }

p img {
  margin-bottom: 0.5em;
  /* a small bottom margin prevents content floating under images */ }

/*
 Resize images to fit the main content area.
 - Applies only to images uploaded via WordPress by targeting size-* classes.
 - Other images will be left alone. Use "size-auto" class to apply to other images.
 */
.attachment img,
.widget-area img,
img.size-auto,
img.size-full,
img.size-large,
img.size-medium {
  max-width: 100%;
  /* When images are too wide for containing element, force them to fit. */
  height: auto;
  /* Override height to match resized width for correct aspect ratio. */ }

img.alignleft {
  margin-right: 1em; }

img.alignright {
  margin-left: 1em; }

.wp-caption {
  padding: 0.5em;
  text-align: center; }

.wp-caption img {
  margin: 0.25em; }

.wp-caption .wp-caption-text {
  margin: 0.5em; }

.wp-smiley {
  margin: 0; }

#searchform label {
  display: none; }

#searchform input#s {
  width: 60%; }

input#s,
input[type=text] {
  margin: 0 1em 0 0;
  width: 60%; }

textarea {
  width: 80%; }

/* Class for labelling required form items */
.required {
  color: #cc0033; }

.comment {
  display: block; }

#comments {
  display: none;
  padding: 0 20px; }

#respond input[type=text] {
  display: block;
  width: 60%; }

#respond textarea {
  display: block;
  margin: 0 0 1em;
  width: 80%; }

#respond .form-allowed-tags {
  clear: both;
  width: 80%; }

#respond .form-allowed-tags code {
  display: block; }

.widget-area::before, .widget-area::after {
  content: '';
  display: table; }

.widget-area::after {
  clear: both; }

@media (min-width: 768px) {
  .widget-area {
    margin-left: -15px;
    width: calc(100% + 30px); } }

.widget {
  display: block; }
  .widget::before, .widget::after {
    content: '';
    display: table; }
  .widget::after {
    clear: both; }
  @media (min-width: 768px) {
    .widget {
      float: left;
      padding: 0 15px;
      width: 50%; } }

.widget-area .widget_search {
  overflow: hidden; }
  .widget-area .widget_search input {
    float: left; }

.widget-area .widget-title {
  border-radius: 5px;
  color: #23a1ff;
  height: 15px;
  padding: 20px 20px 35px;
  text-indent: -9999px; }

.widget-area ul {
  margin: 20px; }
  .widget-area ul li {
    font-size: 1.4em;
    margin: 0;
    padding: 0 0 20px 50px; }

.widget-area .widget_recent_entries .widget-title {
  background: #262626 url("../images/h3-blog-entries.png") no-repeat;
  background-position: 20px 20px; }

.widget-area .widget_recent_entries ul li {
  background: url("../images/blog-feed-li.png") no-repeat; }
  .widget-area .widget_recent_entries ul li a {
    color: #23a1ff;
    text-decoration: none; }
    .widget-area .widget_recent_entries ul li a:hover, .widget-area .widget_recent_entries ul li a:focus {
      text-decoration: underline; }

.widget-area .PI_SimpleTwitterTweets .widget-title {
  background: #262626 url("../images/h3-tweets.png") no-repeat;
  background-position: 20px 20px; }

.widget-area .PI_SimpleTwitterTweets ul li {
  background: url("../images/twitter-feed-li.png") no-repeat; }
  .widget-area .PI_SimpleTwitterTweets ul li a {
    color: #23a1ff;
    text-decoration: none; }
    .widget-area .PI_SimpleTwitterTweets ul li a .timesince {
      font-size: .7em; }
    .widget-area .PI_SimpleTwitterTweets ul li a:hover, .widget-area .PI_SimpleTwitterTweets ul li a:focus {
      text-decoration: underline; }

.single-post .widget-area {
  display: none; }

.short-biography {
  margin: 20px 0;
  padding: 0 20px; }
  .short-biography h3 {
    font-style: italic;
    font-weight: 100;
    font-size: 6.0em;
    line-height: 1.2; }
  .short-biography h4 {
    font-style: italic;
    font-weight: 100;
    font-size: 4.6em;
    line-height: 1.2; }
  .short-biography p {
    font-weight: 100;
    font-size: 2.3em;
    line-height: 1.8; }
  .short-biography a {
    color: #484848;
    background: #23a1ff;
    text-decoration: none;
    border-radius: 5px;
    padding: 3px 6px;
    margin: 3px 1px; }
    .short-biography a:hover, .short-biography a:focus {
      color: #23a1ff;
      background: #484848;
      text-decoration: underline; }

.recent-projects {
  margin: 0 0 20px; }
  .recent-projects h3 {
    background: #262626 url("../images/h3-recent-projects.png") no-repeat;
    background-position: 20px 20px;
    border-radius: 5px;
    color: #23a1ff;
    height: 15px;
    padding: 20px 20px 35px;
    text-indent: -9999px; }
  .recent-projects .project-list li {
    float: left;
    margin: 40px 20px 20px; }
    .recent-projects .project-list li a {
      background: #262626;
      border-radius: 5px;
      color: #fff;
      display: block;
      overflow: hidden;
      text-decoration: none;
      transition: background 300ms ease-in-out; }
      .recent-projects .project-list li a h4 {
        color: #23a1ff;
        font-size: 2.8em;
        line-height: 1;
        padding: 5px 20px 0;
        transition: color 300ms ease-in-out; }
      .recent-projects .project-list li a p {
        font-size: 1.8em;
        padding: 0 20px 10px;
        word-break: break-word; }
      .recent-projects .project-list li a:hover, .recent-projects .project-list li a:focus {
        background: #23a1ff; }
        .recent-projects .project-list li a:hover h4, .recent-projects .project-list li a:focus h4 {
          color: #fff; }
    .recent-projects .project-list li img {
      background: #fff;
      height: auto;
      padding: 0;
      width: 100%; }
    .recent-projects .project-list li .project-details p {
      font-size: 1.8em;
      padding: 20px 20px 0; }
      .recent-projects .project-list li .project-details p a {
        background: none;
        color: #23a1ff;
        display: inline; }
        .recent-projects .project-list li .project-details p a:hover, .recent-projects .project-list li .project-details p a:focus {
          background: none;
          text-decoration: underline; }

.resume .headline {
  padding: 20px;
  background: #262626;
  border-radius: 5px; }

.resume p {
  font-size: 1.4em;
  letter-spacing: .1em;
  line-height: 2.2;
  padding: 20px; }

.resume h3 {
  font-size: 2.0em;
  height: 15px;
  text-indent: -9999px; }

.resume h4 {
  font-size: 1.8em;
  color: #23a1ff;
  margin-top: 20px;
  padding: 0 20px; }

.resume a {
  color: #23a1ff;
  text-decoration: none; }
  .resume a:focus, .resume a:hover {
    text-decoration: underline; }

.resume-experience .headline h3 {
  background: #262626 url("../images/h3-experience.png") no-repeat;
  width: 104px; }

.resume-awards .headline h3 {
  background: #262626 url("../images/h3-awards.png") no-repeat;
  width: 104px; }

.resume-education .headline h3 {
  background: #262626 url("../images/h3-education.png") no-repeat;
  width: 104px; }

.resume-skills .headline h3 {
  background: #262626 url("../images/h3-skills.png") no-repeat;
  width: 54px; }

.entry-title a {
  color: #23a1ff;
  text-decoration: none; }
  .entry-title a:hover, .entry-title a:focus {
    color: #23a1ff;
    text-decoration: underline; }

/* HIDE PAGE TITLE WHERE type = page */
.type-page .entry-header .entry-title {
  display: none; }

.type-post {
  padding: 20px; }
  .type-post .entry-header {
    padding-bottom: 20px; }
    .type-post .entry-header .entry-title {
      font-size: 3.2em;
      color: #23a1ff; }
    .type-post .entry-header .entry-meta {
      font-size: 1.2em;
      letter-spacing: 0.1em; }
      .type-post .entry-header .entry-meta a {
        color: #23a1ff;
        text-decoration: none; }
        .type-post .entry-header .entry-meta a:hover, .type-post .entry-header .entry-meta a:focus {
          text-decoration: underline; }
  .type-post .entry-content {
    font-size: 1.8em;
    letter-spacing: 0.1em; }
    .type-post .entry-content a {
      color: #23a1ff;
      text-decoration: none; }
      .type-post .entry-content a:hover, .type-post .entry-content a:focus {
        text-decoration: underline; }
    .type-post .entry-content p {
      margin-bottom: 20px; }
  .type-post footer.entry-meta a {
    color: #23a1ff;
    text-decoration: none; }
    .type-post footer.entry-meta a:hover, .type-post footer.entry-meta a:focus {
      text-decoration: underline; }

#tweet {
  float: left;
  font-size: .8em;
  padding: 4px 0 0 20px; }
  #tweet a {
    color: #fff;
    text-decoration: none; }
    #tweet a:hover, #tweet a:focus {
      text-decoration: underline; }