// Brain Brian
// http://www.brainbrian.com
// Config

// fonts
$font-family-normal: Georgia, 'Times New Roman', Times, serif;

// colors
$color-white: #fff;
$color-blue: #23a1ff;
$color-grey: #484848;
$color-dark-grey: #262626;

// images
$image-path: '/static/assets/images';

// screen sizes
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

// gutter sizes
$gutter-sm: 10px;
$gutter-md: 30px;
