// Brain Brian
// http://www.brainbrian.com
// Images

img {
  height: auto;
  max-width: 100%;
}

a img {
  border: none;
}

p img {
  margin-bottom: 0.5em;
  /* a small bottom margin prevents content floating under images */
}
/*
 Resize images to fit the main content area.
 - Applies only to images uploaded via WordPress by targeting size-* classes.
 - Other images will be left alone. Use "size-auto" class to apply to other images.
 */
.attachment img,
.widget-area img,
img.size-auto,
img.size-full,
img.size-large,
img.size-medium {
  max-width: 100%;
  /* When images are too wide for containing element, force them to fit. */
  height: auto;
  /* Override height to match resized width for correct aspect ratio. */
}

img.alignleft {
  margin-right: 1em;
}

img.alignright {
  margin-left: 1em;
}

.wp-caption {
  padding: 0.5em;
  text-align: center;
}

.wp-caption img {
  margin: 0.25em;
}

.wp-caption .wp-caption-text {
  margin: 0.5em;
}

.gallery-caption {}

.wp-smiley {
  margin: 0;
}

// Make sure embeds and iframes fit their containers
embed,
iframe,
object,
video {
  max-width: 100%;
  vertical-align: middle;
}
