// Brain Brian
// http://www.brainbrian.com
// Navigation

.site-navigation {
  background: $color-grey;
  display: block;
  float: right;

  .menu {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  .menu-item {
    float: left;
    position: relative;

    a {
      background-size: 300% 100%;
      display: block;
      height: 64px;
      text-indent: -9999px;
      width: 64px;

      &:hover,
      &:focus {
        background-position: -64px 0;
      }
    }

    &.current-menu-item {
      a {
        background-position: -128px 0;
      }
    }

    @media (min-width: $screen-md) {
      a {
        height: 92px;
        width: 91px;

        &:hover,
        &:focus {
          background-position: -91px 0;
        }
      }

      &.current-menu-item {
        a {
          background-position: -182px 0;
        }
      }
    }

    &.projects {
      a {
        background-image: url('../images/navigation-projects.gif');
      }
    }

    &.resume {
      a {
        background-image: url('../images/navigation-resume.gif');
      }
    }

    &.blog {
      a {
        background-image: url('../images/navigation-blog.gif');
        width: 51px;

        &:hover,
        &:focus {
          background-position: -51px 0;
        }
      }

      &.current-menu-item {
        a {
          background-position: -102px 0;
        }
      }

      @media (min-width: $screen-md) {
        a {
          width: 73px;

          &:hover,
          &:focus {
            background-position: -73px 0;
          }
        }

        &.current-menu-item {
          a {
            background-position: -146px 0;
          }
        }
      }
    }
  }
}
