// Brain Brian
// http://www.brainbrian.com
// Navigation

.site-navigation {
  background: $color-grey;
  display: block;
  float: right;

  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;

    li {
      float: left;
      position: relative;
    }
  }

  a {
    display: block;
    height: 92px;
    text-indent: -9999px;
  }

  .projects {
    a {
      background: url('../images/navigation-projects.gif') no-repeat;
      width: 91px;

      &:hover,
      &:focus {
        background-position: -91px 0;
      }
    }

    &.current-menu-item {
      a {
        background-position: -182px 0;
      }
    }
  }

  .resume {
    a {
      background: url('../images/navigation-resume.gif') no-repeat;
      width: 91px;

      &:hover,
      &:focus {
        background-position: -91px 0;
      }
    }

    &.current-menu-item {
      a {
        background-position: -182px 0;
      }
    }
  }

  .blog {
    a {
      background: url('../images/navigation-blog.gif') no-repeat;
      width: 73px;

      &:hover,
      &:focus {
        background-position: -73px 0;
      }
    }

    &.current-menu-item {
      a {
        background-position: -146px 0;
      }
    }
  }
}
