// Brain Brian
// http://www.brainbrian.com
// Structure

body {
  background-color: $color-grey;
  color: $color-white;
  font-family: $font-family-normal;
  font-size: 62.5%; // Base font size: 10px
  line-height: 1.429;
  min-width: 320px;
}

* {
  box-sizing: border-box;
}

#page {
  display: block;
  margin: 0;
}

#primary {
  margin: 0 -240px 0 0;
  width: 100%;
}

#content {
  margin: 0;
}

#secondary.widget-area {
  padding-top: 20px;
}

#colophon {
  clear: both;
  display: block;
  width: 100%;
}

/* Increase the size of the content area for templates without sidebars */
.error404 #content,
.full-width #content,
.image-attachment #content {
  margin: 0;
}

/* Text meant only for screen readers */
.screen-reader-text,
.section-heading {
  clip: rect(1px 1px 1px 1px);
  position: absolute !important;
}

/* Alignment */
.alignleft {
  display: inline;
  float: left;
}

.alignright {
  display: inline;
  float: right;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.post-edit-link {
  background: $color-blue;
  border-radius: 5px;
  clear: both;
  color: $color-white;
  display: block;
  font-size: 2.4em;
  margin: 20px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100px;
}
